<section class="form-section">
    <form class="form" action="/authCreateList" method="POST">
        <h2>Create New List</h2>
        <label for="list_title">
            <p>List Title</p>
            <input class="input-data" type="text" name="list_title" id="list_title" placeholder="Write the list title here" required>
        </label>
        <label for="description">
            <p>List Description</p>
            <input class="input-data" type="text" name="description" id="description" placeholder="Write the list description" required>
        </label>
        <label>
            <input class="input-submit"type="submit" value="Create">
        </label>
    </form>
</section>