<section class="home-section">
    <header class="header-section">
        <nav>
            <div class="logo-division">
                <p>To Do List App</p>
            </div>
            <div class="navbar-division">
                <li>
                    <p>Welcome Back User</p>
                </li>
                <li>
                    <a href=""> <i class="fas fa-plus-square"></i> Create List </a>
                </li>
            </div>
        </nav>
    </header>
    <div class="title-section">
        <h2>Lists</h2>
    </div>
    <main class="main-section">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title">Rutina de Ejercicios</p>
                <p class="card-header-description">Conjunto de ejercicios para estar en buena condición fisica</p>
            </div>
            <div class="card-body">
                <ul class="ul-card-body">
                    <li>
                        <p class="text-task">
                            <a class="completed-task-button" href=""><i class="far fa-square"></i></a>
                            10 Abdominales
                        </p>
                        <a class="delete-task-button" href=""><i class="fas fa-trash-alt"></i></a>
                    </li>
                    <li>Correr durante 10 minutos</li>
                    <li>20 Sentadillas</li>
                </ul>
            </div>
            <div class="card-footer">
                <a class="add-task-button" href=""> <i class="fas fa-tasks"></i> Add Task</a>
                <a class="delete-list-button" href=""> <i class="fas fa-trash-alt"></i> Delete List</a>
            </div>
        </div>
    </main>
    <footer class="footer">
    </footer>
</section>