<section class="form-section">
    <form class="form" action="/authlogin" method="POST">
        <h2>Login</h2>
        <label for="email">
            <p>Email</p>
            <input class="input-data" type="email" name="email" id="email"  placeholder="Write your email here" required>
        </label>
        <label for="password">
            <p>Password</p>
            <input class="input-data" type="password" name="password" id="password" placeholder="Write your password here" required>
        </label>
        <p>Do you need an account? <a href="/register">Create one here</a></p>
        <label>
            <input class="input-submit"type="submit" value="Submit">
        </label>
    </form>
</section>