
{{> lovedChamps}}
{{> hatedChamps}}
{{#if listExists}} 
  <ul>
    {{#each suggestedChamps}}
      <li class={{suggestedChamps.username}}>{{suggestedChamps.createdAt}}</li>
    {{/each}}
  </ul>
{{/if}}