<section class="form-section">
    <form class="login-form" action="/authregister" method="POST">
        <h2>Register</h2>
        <label for="username">
            <p>Username</p>
            <input class="input-data" type="text" name="username" id="username" placeholder="Write your username here" required>
        </label>
        <label for="email">
            <p>Email</p>
            <input class="input-data" type="email" name="email" id="email" placeholder="Write your email here" required>
        </label>
        <label for="password">
            <p>Password</p>
            <input class="input-data" type="password" name="password" id="password" placeholder="Write your password here" required>
        </label>
        <label>
            <input class="input-submit"type="submit" value="Create">
        </label>
    </form>
</section>