<header>
    <nav>
        <li>
            <a href="">Añadir Lista</a>
        </li>
        <li>
            <a href="">Añadir Tarea</a>
        </li>
    </nav>
</header>
<main>

</main>
<footer>

</footer>